/* Css reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* Css reset */
* {
    box-sizing: border-box;
}
body {
    font-family: Microsoft JhengHei;
}
.wrap {
    width: 1000px;
    margin: 0 auto;
}
.header {
    display: flex;
    justify-content: space-between;
}
.nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.1);
}
.nav li {
    margin-right: 10px;
}
.nav li a:hover {
    color: red;
}
.logo a {
    background: url(images/logo.png) no-repeat;
    width: 174px;
    height: 51px;
    display: block;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
    margin-left: 10px;
    margin-top: 10px;
}
a {
    text-decoration: none;
}
.clearfix {
    clear: both;
}
.menu {
    display: flex;
    align-items: center;
}
.menu li {
    font-size: 20px;
    margin: 0px 10px;
}
.menu li a {
    color: #00cc99;
    padding-bottom: 10px;
}
.menu li a:hover {
    border-bottom: 2px solid #00cc99;
}
.banner {
    width: 1000px;
    height: 346px;
    background-image: url(../images/banner.png);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner p {
    font-size: 30px;
    color: #fff;
}
.slogan {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px 10px;
    align-self: stretch;
}
.slogan p {
    padding: 5px;
}
.content {
    margin: 30px;
}
.class {
    display: flex;
}
.class li {
    width: 310px;
    margin: 0px 10px;
    box-shadow: 0px 10px 10px #888888;
    border-radius: 5px;
    padding: 0px 10px;
}
.class li img {
    display: block;
    margin: 0 auto;
    height: 136px;
    max-width: 100%;
    padding: 20px;
}
.class li p {
    padding: 15px;
    line-height: 1.5;
}
.class li h3 {
    text-align: center;
    font-weight: bold;
    padding-top: 5px;
}
.jquery li {
    box-shadow: none;
    border: none;
    list-style: disc;
    padding-left: 5px;
    line-height: 1.2;
}
h2 {
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 10px;
}
table {
    width: 1000px;
    margin: 0 auto;
}
th {
    background: rgba(0, 0, 0, 0.1);
    font-weight: bold;
}
td,
th {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 20px;
    padding: 10px;
    text-align-last: left;
}
.tableColor {
    color: #00cc99;
}
.container {
    background: linear-gradient(#00644b, #009771);
}
form h3 {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin: 30px 0px;
    padding-top: 10px;
    line-height: 1.5;
}
input {
    width: 300px;
    padding: 5px;
    font-size: 15px;
    border-radius: 2px;
}

.userData {
    display: flex;
    justify-content: center;
}
textarea {
    width: 450px;
    margin: 20px;
    resize: none;
    font-size: 20px;
}
.contact {
    display: flex;
    flex-direction: column;
}
.send {
    width: 50px;
    padding: 5px;
    font-size: 15px;
    cursor: pointer;
    align-self: flex-end;
}
.send:hover {
    background: rgb(167, 72, 72);
    color: #fff;
}
.contact {
    margin-top: 20px;
}
.contact input {
    margin-top: 5px;
    margin-bottom: 10px;
}
.footer {
    background: rgba(255, 0, 0, 0.1);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer a{
    background-image: url(../images/footer-logo.png);
    width: 170px;
    height: 36px;
    display: block;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
}
.contactData {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 10px;
}
.contactData span {
    color: red;
}
.contactData p{
    line-height: 1.5;
}
